.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
  position: relative;
  width: 375px;
  overflow-x: hidden;
  margin: 0 auto;
}

.x {
  width: 45%;
  height: 300px;
  border: 4px solid #b3c1ff;
}

.x1 {
  border-color: #b5c3fe;
}

.x2 {
  border-color: #c1c1f7;
}